body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #10595e;
  border-left: 1px solid #10595e;
  padding: 10px;
}

h1 {
  color: #10595e;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: 10595e;
  border-radius: 0;
  border-bottom: 6px solid #10595e;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
  ;
}

.hour {
  background-color: #ffffff;
  color: #10595e;
  border-top: 1px dashed #10595e;
}

.past {
  background-color: #cdcfcf;
  color: #10595e;
}

.present {
  background-color: #fcff70;
  color: #10595e;
}

.future {
  background-color: #c7ffd6;
  color: #10595e;
}

.saveBtn {
  border-left: 1px solid #40ad86;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #40ad86;
  color: white;
  justify-content: center;
  align-items: center;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.clearBtn {
  border: 10px solid #40ad86;
  border-radius: 50px;
  background-color: #40ad86;
  color: white;
  margin-top: 20px;
  margin-bottom: 70px;
  margin-left: 50%;
  margin-right: 50%;
}

.clearBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}